html,
body {
  height: 100%;
  margin: 0;
}

.banner,
.banner-image {
  height: 100%;
}

.banner-image {
  background-image: url("banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-mask {
  mask-image: linear-gradient(
    rgba(243, 236, 228, 0.8),
    rgba(243, 236, 228, 0.8)
  );
  mask-position: center;
  mask-repeat: no-repeat;
  mask-size: cover;
}

.banner-content {
  top: 25%;
  bottom: 25%;
  left: 15%;
  right: 15%;
  position: absolute;
  text-align: center;
}

.banner-content > p {
  font-size: 1.5rem;
}

@media only screen and (max-width: 992px) and (orientation: landscape) {
  .banner-content > h1 {
    font-size: 3rem;
  }

  .banner-content > p {
    visibility: hidden;
  }
}

@media only screen and (max-width: 576px) {
  .banner-content > h1 {
    font-size: 3rem;
  }

  .banner-content > p {
    visibility: hidden;
  }
}

@media only screen and (min-width: 576px) and (max-width: 768px) {
  .banner-content > h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .banner-content > h1 {
    font-size: 3.5rem;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .banner-content > h1 {
    font-size: 4rem;
  }
}

@media only screen and (min-width: 1200px) {
  .banner-content > h1 {
    font-size: 4.5rem;
  }
}
